@import './font.scss';
@import './variable.scss';
// common
body {
    font-family: 'Proxima_Nova_Regular';
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: $white;
    padding-bottom: 1rem;
}

button {
    font-family: 'Proxima_Nova_Regular' !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

a {
    color: $primary;
    text-decoration: none;
    &:hover {
        color: $primary;
    }
}

ul {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: #2c3e4c;
}

h3 {
    font-size: 24px;
}

.ml-auto {
    margin-left: auto;
}

.container-fluid {
    padding: 0 30px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-danger {
    color: $text-danger;
}

.d-flow-root {
    display: flow-root;
}

.d-flex {
    display: flex;
}

.item-center {
    align-items: center;
}

// navbar
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav {
    .nav-link {
        font-family: 'Proxima_Nova_Bold';
        color: #2C3E4C !important;
        font-size: 14px;
        letter-spacing: 0.2px;
        padding: 23.5px;
        font-weight: 500;
        text-transform: uppercase;
        &:hover {
            background: #5CC4BE;
        }
    }
}

.navbar-brand {
    img {
        height: auto;
        width: 90px;
        max-height: 50px;
    }
}

.navbar-bottom-border {
    background-color: #2c3e4c;
    border-top: 4px solid #5cc4be;
}

// page title
.page-title {
    height: 75px;
    overflow: hidden;
    background: url(../images/title_bg.jpg) center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .container-fluid {
        display: flex;
        align-items: center;
        img {
            margin-top: 0;
            margin-left: -6px;
            height: 75px;
            margin-right: 10px;
        }
        h2 {
            font-size: 30px;
            color: $white;
            font-family: 'Proxima_Nova_Bold';
            margin: 0;
            text-transform: uppercase;
        }
    }
}

// btn
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 1px;
    &:hover {
        outline: none !important;
        border-color: transparent !important;
    }
    &:focus {
        border-color: transparent !important;
        box-shadow: none !important;
    }
}

// btn size
.btn-medium {
    width: 80px;
}

// btn primary
.btn-primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    &:hover {
        background-color: $primary-hover;
    }
    &:active {
        color: $white;
        background-color: $primary-active;
        border-color: $primary-border;
    }
    &:focus {
        background-color: $primary-border;
    }
}

// btn-secondary
.btn-secondary {
    color: #000 !important;
    background-color: #a4a4a4;
    border-color: #a4a4a4;
    &:hover {
        background-color: #a4a4a4;
    }
    &:focus {
        background-color: #a4a4a4;
    }
}

.input-group {
    button {
        text-transform: uppercase;
    }
}

// btn default
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    &:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
        border-color: transparent;
    }
    &:active {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }
    &:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }
}

// action section
.action-section {
    padding: 20px 0px 20px;
    .pull-right {
        float: right;
    }
    .btn {
        line-height: 1.6;
        font-size: 14px;
        padding: 5px 10px;
        letter-spacing: 1px;
    }
}

// sub pagetitle
.sub-page-title {
    padding: 20px 0px 20px;
    h3 {
        font-family: 'Proxima_Nova_Regular';
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }
}

// inner subtitle
.card-inner-subtitle {
    h3 {
        margin: 0;
        font-weight: bold;
        width: fit-content;
    }
}

// tab section
.nav-pills {
    .nav-link {
        padding: 8px 28px;
        text-transform: uppercase;
        color: $white;
        font-size: 18px;
        background: $primary;
        margin-right: 10px;
        &.active {
            color: $white;
            background-color: $primary-dark;
            border-color: $transparent;
        }
    }
}

// CARD
.card {
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
    border: 1px solid $card-border;
    .card-body {
        padding: 30px 20px;
    }
}

.sub-card {
    border: 1px solid #b7d3e3;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

// spacing
.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.img-400 {
    height: 400px;
    object-fit: contain;
}

// lable and form
.form-label,
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: $text-muted;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.428571429;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd9e3;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: none;
    font-size: 16px;
    color: #555;
    &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px #00000014, 0 0 8px #66afe999;
        box-shadow: inset 0 1px 1px #00000013, 0 0 8px #66afe999;
    }
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eeeeee;
    opacity: 1;
    border: 1px solid #ccc;
}

.form-text {
    margin-top: .25rem;
    font-size: 14px;
    color: $text-muted;
}

.form-check {
    min-height: auto;
    margin-bottom: 0.5rem;
}

.form-select {
    height: 34px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ccd9e3;
    border-radius: 4px;
    box-shadow: none;
    font-size: 16px;
    color: #555;
    &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px #00000014, 0 0 8px #66afe999;
        box-shadow: inset 0 1px 1px #00000013, 0 0 8px #66afe999;
    }
}

.form-select:disabled {
    background-color: #eeeeee;
    border: 1px solid #ccc;
    opacity: 1;
}

// file input
input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}

// pagination
.pagination {
    text-transform: uppercase;
    letter-spacing: 1px;
    .page-item {
        .page-link {
            margin: 0px 0;
            color: $primary;
            &.light {
                color: #fff;
                background-color: $primary;
                border-color: $primary;
                &:hover {
                    color: #fff;
                    background-color: $primary;
                    border-color: $primary;
                }
            }
            &.dark {
                color: #fff;
                background-color: $primary-dark;
                border-color: $primary-dark;
                &:hover {
                    color: #fff;
                    background-color: $primary-dark;
                    border-color: $primary-dark;
                }
            }
            &:hover {
                z-index: 2;
                color: $primary;
                background-color: #eeeeee;
                border-color: #ddd;
            }
            &:focus {
                outline: 0;
                box-shadow: 0 0 0 0.25rem transparent;
            }
        }
        &.active {
            .page-link {
                z-index: 3;
                color: #fff;
                background-color: $primary;
                border-color: $primary;
            }
        }
    }
}

// panel
.panel-group {
    border: 1px solid #ddd;
    .panel-group .panel {
        margin-bottom: 0;
        border-radius: 4px;
    }
    .panel-default {
        border-color: #ddd;
    }
    .panel {
        margin-bottom: 0px;
        background-color: #fff;
        border-radius: 4px;
        border-bottom: none;
    }
    .panel-default>.panel-heading {
        color: #333333;
        background-color: #f5f5f5;
    }
    .panel-group .panel-heading {
        border-bottom: 0;
    }
    .panel-heading {
        padding: 10px 15px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom: 1px solid #ddd;
    }
    .panel-body {
        padding: 15px;
    }
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 0px;
        font-weight: bold;
        padding-left: 15px;
        color: #777777;
        padding-left: 0px;
        font-size: 15px;
    }
}

// model details page style
.columns-list {
    padding: 0;
    display: flow-root;
    list-style: none;
    li {
        width: 50%;
        float: left;
    }
}

// custom radio button
.radio {
    margin: 0.5rem;
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        +.radio-label {
            &:before {
                content: '';
                background: #d1d3d1;
                border-radius: 100%;
                border: 1px solid #d1d3d1;
                display: inline-block;
                width: 14px;
                height: 14px;
                position: relative;
                top: 2px;
                left: 7px;
                margin-right: 1em;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
            }
        }
        &:checked {
            +.radio-label {
                &:before {
                    background-color: #333;
                    box-shadow: 0 0 0 3px #d1d3d1;
                    width: 10px;
                    height: 10px;
                    top: 4px;
                    left: 9px;
                    position: relative;
                    margin-right: 18px;
                }
            }
        }
        &:focus {
            +.radio-label {
                &:before {
                    outline: none;
                    border-color: #d1d3d1;
                }
            }
        }
        &:disabled {
            +.radio-label {
                &:before {
                    box-shadow: inset 0 0 0 4px #d1d3d1;
                    border-color: #d1d3d1;
                    background: #d1d3d1;
                }
            }
        }
        +.radio-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}

// Custom check box
input[type=checkbox] {
    width: 15px;
    height: 15px;
    font-size: 14px;
    border: 1px solid #ccd9e3;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: none;
    color: #303030;
    font-size: 15px;
    font-family: 'proxima_nova_rgregular';
    line-height: normal;
}

input[type=checkbox]:checked:after {
    content: "\2714";
    border: 1px solid #ccd9e3;
}

input[type=checkbox]:after {
    text-decoration: none;
    box-shadow: none;
    color: #303030;
    font-size: 10px;
    text-align: center;
    content: " ";
    background-color: #FFFF;
    display: inline-block;
    visibility: visible;
    width: 15px;
    font-weight: bolder;
    position: relative;
    top: -3px;
    left: -1px;
}

.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}

// dropdown
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: #25343F;
    margin-top: -1px;
    border: none;
    padding: 0;
    border: none;
    li {
        width: 100% !important;
        padding: 6px 0;
        border-bottom: 1px solid #172026;
        border-top: 1px solid #3C5264;
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2C3E4C), color-stop(100%, #048abb));
        background-image: -moz-linear-gradient(#0379ab, #048abb);
        background-image: -webkit-linear-gradient(#0379ab, #048abb);
        background-image: linear-gradient(#2C3E4C, #293A47);
        outline: none;
        a {
            font-size: 14px !important;
            text-align: left !important;
            color: #fff !important;
            padding: 10px 30px 10px 15px;
            font-weight: 500;
            &:hover {
                background: transparent !important;
                color: #C0D7D6 !important;
                cursor: pointer;
            }
        }
    }
}

// table
.table {
    --bs-table-bg: #fdfdfd;
    --bs-table-striped-color: #333333;
    --bs-table-striped-bg: #f3f3f3;
    --bs-table-active-color: #333333;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #333333;
    --bs-table-hover-bg: #d5eaee;
    width: 100%;
    margin-bottom: 1rem;
    color: #333333;
    vertical-align: top;
    border-color: #dee2e6;
    border: 1px solid #d4d4d4;
    thead {
        tr {
            border-bottom: 1px solid #d4d4d4;
            th {
                background: #f3f3f3;
                border-bottom: 1px solid #d4d4d4;
                color: #333333;
            }
        }
    }
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #d4d4d4;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 0px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.cus-list-group {
    svg {
        width: 18px;
        margin-right: auto;
        margin-left: 10px;
        fill: #333333;
    }
}