$primary: #5BCED2;
$primary-dark: #568FA0;
$primary-border: #2ea4a8;
$primary-hover: #36bfc4;
$primary-active: #36bfc4;
$white: #fff;
$transparent: transparent;
// 
$card-border:#b7d3e3;
$text-muted: #777777;
$text-danger:#a94442;
$text-head: #2c3e4c;